/*************HEADER***********/

/*div*/ nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: left;
    background-image: linear-gradient(var(--color3), rgba(255, 255, 255, 0));
    /* background-color: var(--color3); */
    /* box-shadow: 0px 2px 4px rgb(64, 64, 64) ; */
    z-index: 1;
}

/*elements*/.nav-elements{
    box-sizing: border-box;
    height: 125px;
    padding: 59px 20px 59px 20px;
    color: white;
    text-decoration: none;
    text-align: center  ;
}
.nav-elements:hover{
    text-shadow: 1px 1px 5px #000000;
    cursor: pointer;
    user-select: none;
}

/********FIRST IMAGE***********/
#first-upper-div{
    overflow: hidden;
    width: 100%;
}

#first-div {
    background: linear-gradient(var(--color1), var(--color2));
    background-repeat: repeat;
    background-position: center;
    height:100vh;
    transform: translateX(0%);
}

#first-text{
    position: absolute;
    left: 10%;
    top:300px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    font-size: 60px;
} 

#reg-login{
    background-color: var(--color4);
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    left: 75%;
    top:300px;
    color: rgb(0, 0, 0);
}

#reg-login:hover{
    opacity: 75%;
}

/*********FOOTER**********/
footer{
    background-color: rgb(240, 240, 240);
}
#footer{
    position: relative;
    background-color: rgb(240, 240, 240);
    margin: auto;
    width: 100%;
    height: 150px;
    padding-top: 16px;
}
li{
    list-style-type: none;
}
.footer{
    list-style-type: none;
    color: black; 
    text-decoration: none;
    cursor: pointer;
}